/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/

.container {
  width: 70%;
  min-width: 480px;
  margin: auto;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/
.site > header {
  text-align: right;
}

/*****************************************************************************/
/*
/* Index
/*
/*****************************************************************************/
#home ul.posts {
  list-style-type: none;
}
#home ul.posts a {
  text-decoration: none;
}
#home ul.posts a:hover {
  text-decoration: underline;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  white-space: pre-wrap;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

/* custom */
.post header {
  text-align: center;
  margin-bottom: 2em;
}

.post > header time {
  font-size: 80%;
  color: #555;
}
.post pre {
  word-wrap: break-word;
}
.post img {
  display: block;
  max-width: 90%;
  margin: 1em auto;
}
