/*****************************************************************************/
/*
/* Container
/*
/*****************************************************************************/

body {
  font-family: Hannotate SC, Helvetica, arial, sans-serif;
}

.container {
  width: 70%;
  min-width: 480px;
  margin: auto;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/
.site > header {
  text-align: right;
}

/*****************************************************************************/
/*
/* Index
/*
/*****************************************************************************/
#home ul.posts {
  list-style-type: none;
}
#home ul.posts a {
  text-decoration: none;
}
#home ul.posts a:hover {
  text-decoration: underline;
}


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/


/* custom */
.post header {
  text-align: center;
  margin-bottom: 2em;
}

.post > header time {
  font-size: 80%;
  color: #555;
}

.post pre {
  word-wrap: break-word;
}

.post img {
  display: block;
  max-width: 90%;
  margin: 1em auto;
}
